 .Menu {
     background-color: rgb(221, 212, 212);
     margin: 10px;
     padding: 80px;
     position: absolute;
 }

 h1 {
     background-color: rgb(81, 81, 241);
     color: white;
     border: none;
     padding: 50px;
     border-radius: 50%;
     position: relative;

 }

 .Dice {

     background-color: rgb(81, 81, 241);
     border: 2px solid black;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 24px;
     border-radius: 50%;
     cursor: pointer;
     float: left;

 }

 .JaNein {

     background-color: rgb(81, 81, 241);
     border: 2px solid black;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 24px;
     border-radius: 50%;
     cursor: pointer;
     float: left;

 }

 .Group {
     background-color: rgb(81, 81, 241);
     border: 2px solid black;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 24px;
     border-radius: 50%;
     cursor: pointer;
     float: left;
 }

 .back {
     background-color: rgb(81, 81, 241);
     border: 2px solid black;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 24px;
     border-radius: 50%;
     cursor: pointer;
     float: left;
 }



 img {
     size: 20em;
     position: relative;
 }

 button:hover {
     background-color: blue;
 }